<a href="https://colab.research.google.com/github/SimeonHristov99/ML_21-22/blob/main/03_Hello%2C_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, [Pandas](https://pandas.pydata.org/docs/reference/index.html)!

## What is pandas?

- (in short) data analysis library
- (according to the official website) "an open source, BSD-licensed library providing high-performance, easy-to-use data structures and data analysis tools for the Python programming language."

## Download data

We will be using the [Stack Overflow Annual Developer Survey](https://insights.stackoverflow.com/survey) results from last year.

In [ ]:
!wget https://info.stackoverflowsolutions.com/rs/719-EMH-566/images/stack-overflow-developer-survey-2021.zip -O tmp.zip
!unzip tmp.zip -d ./data
!rm tmp.zip

## Imports and Constants

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
DATA_PATH = '/content/data/survey_results_public.csv'
SCHEMA_PATH = '/content/data/survey_results_schema.csv'

## Load the data into a DataFrame

A **dataframe** is a tablular representation of data, i.e. rows and columns of data.

In [ ]:
df = pd.read_csv(DATA_PATH)
df

In [ ]:
# (num_rows, num_cols)
df.shape

In [ ]:
# With `.info()` you see the column names as well as their type and whether they have any missing entries.
# The type `object` usually refers to string.
df.info()

In [ ]:
pd.set_option('display.max_columns', df.shape[1])
# pd.set_option('display.max_rows', df.shape[0]) # In case you want to see all rows
df

In [ ]:
# In order to see what question each of these columns refer to, we need to load the schema.
schema_df = pd.read_csv(SCHEMA_PATH)
schema_df

In [ ]:
# See the first 5 rows
df.head()

In [ ]:
# See the first n rows
df.head(10)

In [ ]:
# See the last 5 rows
df.tail()

In [ ]:
# See the last 10 rows
df.tail(10)

## Selecting Rows and Columns

If we wanted to store information about a person, we could use the following format.

In [ ]:
person = {
    'first': 'SimoFirst',
    'last': 'SimoLast',
    'email': 's.e.hristov99@gmail.com'
}

However, we can't store information about multiple people. For that, we would need this approach.

In [ ]:
people = {
    'first': ['SimoFirst', 'Jane', 'John'],
    'last': ['SimoLast', 'Doe', 'Doe'],
    'email': ['s.e.hristov99@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com']
}

We can think of these as rows and columns. They keys are the columns and the values are the rows. Usually, the definition for a dataframe object in pandas is `two-dimensional data structure`. If that sounds confusing, think of it as multiple rows and columns.

In [ ]:
# If we wanted to see the `email` column, we would access the `email` key in the `people` dictionary.
people['email']

In [ ]:
# Let's create a dataframe from the `people` dictionary!
# Note: The left-most column is called an idex. Think of it as the primary key for a database table. More on that later.
ppl_df = pd.DataFrame(people)
ppl_df

In [ ]:
# Get all the values in a column.
ppl_df['email'] # Same as ppl_df.email

In [ ]:
# Note: The return type is actually a pandas.Series object. A Series is a list of data with more information and functionality. You can think of it as the values of a single column.
type(ppl_df['email'])

> **Conclusion**: We can then say that a DataFrame is a container for Series objects.

In [ ]:
# Get the rows of multiple columns
ppl_df[['last', 'email']]

In [ ]:
# Note: The return type is not a Series. It's a new DataFrame.
type(ppl_df[['last', 'email']])

In [ ]:
# Get the names of all columns.
ppl_df.columns

In order to get specific rows, we use the:
- **iloc** method: access rows by integer location, i.e. like indexing an array in C++.
- **loc** method: access by the dataframe index index.

### iloc

In [ ]:
# It returns a Series with all the values for the 0th row.
ppl_df.iloc[0]

In [ ]:
# Get the values of n rows.
ppl_df.iloc[[0, -1]]

In [ ]:
# We can also get the values of a certain column.
ppl_df.iloc[[0, -1], -1]

### loc

In [ ]:
# While the `iloc` method indexes the rows as intergers from 0 .. len - 1
# loc indexes the rows by the left-most column.
# Notice how there's no name above it.
ppl_df

In [ ]:
ppl_df.loc[0]

In [ ]:
ppl_df.loc[[0, 2]]

In [ ]:
ppl_df.loc[[0, 2], 'email']

In [ ]:
ppl_df.loc[[0, 2], ['email', 'first']]

### **Question**: How many people are there in each employment type?

In [ ]:
df.columns

In [ ]:
df['Employment']

In [ ]:
df['Employment'].value_counts()

In [ ]:
# Get the responce of the first person for the `employment` question.
df.loc[0, 'Employment']

In [ ]:
# Get the responce of the first three people for the `employment` question.
# via a list
df.loc[[0, 1, 2], 'Employment']

In [ ]:
# via slicing
# Note: The last element when using `loc` is inclusive.
df.loc[0:2, 'Employment']

In [ ]:
# Get the values of the first three respondents for the columns from `employment` to `edlevel`
df.loc[0:2, 'Employment':'EdLevel']

## Indexes - Set, Reset, and Use

In [ ]:
ppl_df

In [ ]:
ppl_df.index

In [ ]:
# Set the email addresses as an index.
ppl_df.set_index('email')

In [ ]:
# Note: Our dataframe didn't actually change because `set_index` returns a new dataframe.
ppl_df

In [ ]:
ppl_df = ppl_df.set_index('email') # Same as ppl_df.set_index('email', inplace=True)
ppl_df

In [ ]:
ppl_df.index

In [ ]:
# Get the last name of Jane using `loc`
ppl_df.loc['JaneDoe@gmail.com', 'last']

In [ ]:
# Get the last name of Jane using `iloc`
ppl_df.iloc[1, 1]
# or: ppl_df.iloc[1, -1]

In [ ]:
# ppl_df.loc[0] # This will no longer work, since the index is now a string.
ppl_df.iloc[0]

In [ ]:
# Reset the idex.
ppl_df = ppl_df.reset_index()
ppl_df

In [ ]:
df

In [ ]:
# Notice how the `ResponseId` column is a unique identifier.
# Set it as an index
df.set_index('ResponseId')

In [ ]:
# Set it as an index while loading in the data!
df = pd.read_csv(DATA_PATH, index_col='ResponseId')
df

In [ ]:
# The first responded has an index of 1 now.
df.loc[1]

### **Task**: Get the question a column refers to.

In [ ]:
# First, get the name of the column that will be used as an index.
schema_df

In [ ]:
# In this case it's `qname`
schema_df = pd.read_csv(SCHEMA_PATH, index_col='qname')
schema_df

In [ ]:
# Then, locate the row with index `Employment`
schema_df.loc['Employment']

In [ ]:
schema_df.loc['Employment', 'question']

In [ ]:
# Now we can check any question
df.columns

In [ ]:
schema_df.loc['NEWOtherComms', 'question']

In [ ]:
# Sort the indices lexicographically.
schema_df.sort_index()

In [ ]:
# Note that this does not change the dataframe.
schema_df.sort_index(ascending=False)

## Filtering - Using Conditionals to Filter Rows and Columns

In [ ]:
ppl_df

In [ ]:
# Get all people with last name `Doe`.
ppl_df['last'] == 'Doe'

In [ ]:
ppl_df[ppl_df['last'] == 'Doe']

In [ ]:
ppl_df[ppl_df['last'] == 'Doe']['email']

In [ ]:
ppl_df.loc[ppl_df['last'] == 'Doe']

In [ ]:
ppl_df.loc[ppl_df['last'] == 'Doe', 'email']

> **Note**: Chaining multiple conditions happens with **&**, **|**, **~**, not with the Python keywords `and`, `or`, `not`.

> **THE BRACKETS ARE IMPORTANT!**

In [ ]:
# Get the rows in which the last name is `Doe` and the first name is `John`.
ppl_df[(ppl_df['last'] == 'Doe') & (ppl_df['first'] == 'John')]

In [ ]:
ppl_df[(ppl_df['last'] == 'Doe') & (ppl_df['first'] == 'John')]['email']

In [ ]:
# Get the rows in which the last name is `SimoLast` or the first name is `John`.
ppl_df[(ppl_df['last'] == 'SimoLast') | (ppl_df['first'] == 'John')]

In [ ]:
ppl_df[(ppl_df['last'] == 'SimoLast') | (ppl_df['first'] == 'John')]['email']

In [ ]:
# Get the opposite of the above condition.
ppl_df[~((ppl_df['last'] == 'SimoLast') | (ppl_df['first'] == 'John'))]['email']

In [ ]:
df.columns

### **Task**: Get all responces from people that earn a salary > 70 000.

In [ ]:
# We'll use the last column `ConvertedCompYearly` to do that.
filt = (df['ConvertedCompYearly'] > 70000)
df[filt]

In [ ]:
df[filt][['Country', 'LanguageHaveWorkedWith', 'ConvertedCompYearly']]

In [ ]:
# Task: Get only responces from specific countries.
countries = ['United States', 'Germany', 'Bulgaria', 'United Kingdom', 'Canada', 'India']
filt = (df['Country'].isin(countries))

In [ ]:
df.loc[filt, 'Country']

In [ ]:
# Task: Get people who chose Python as the only programming language they know.
df['LanguageHaveWorkedWith']

In [ ]:
filt = df['LanguageHaveWorkedWith'].str.contains('Python', na=False)
df.loc[filt]

## Updating Rows and Columns - Modifying Data Within DataFrames

In [ ]:
ppl_df = pd.DataFrame(people)
ppl_df

**Column names**

In [ ]:
# Rename all columns
ppl_df.columns = ['first_name', 'last_name', 'email']
ppl_df

In [ ]:
# Uppercase all of the column names
ppl_df.columns = ppl_df.columns.str.upper()
ppl_df

In [ ]:
# Replace underlines with spaces
ppl_df.columns = ppl_df.columns.str.replace('_', ' ')
ppl_df

In [ ]:
# Change only specific columns
ppl_df = ppl_df.rename(columns={
    'FIRST NAME': 'first',
    'LAST NAME': 'last',
})
ppl_df

**Row values**

In [ ]:
ppl_df.columns = ['first', 'last', 'email']
ppl_df

In [ ]:
# Task: Change John's last name to Smith
ppl_df.loc[2]

In [ ]:
# solution 1: replace the whole sample
ppl_df.loc[2] = ['John', 'Smith', 'JohnSmith@email.com']
ppl_df

In [ ]:
# solution 2: Change only the values for specific columns
ppl_df.loc[2, 'last'] = 'Smith'
ppl_df

In [ ]:
# Change only the values for specific columns
ppl_df.loc[2, ['last', 'email']] = ['Doe', 'JohnDoe@email.com']
ppl_df

In [ ]:
# Common mistake: Changing a value through a filter
filt = (ppl_df['email'] == 'JohnDoe@email.com')
ppl_df[filt]

In [ ]:
ppl_df[filt]['last'] = 'Smith'
ppl_df

In [ ]:
# Solution
ppl_df.loc[filt, 'last'] = 'Smith'
ppl_df

In [ ]:
# Change all emails to lowercase.

# First way: just assign the column to its lowercase version.
ppl_df['email'] = ppl_df['email'].str.lower()
ppl_df

However, we could also use one of the following functions:
- **map**: calling a function for every value in a series. *If the functions does not change a value, it replaces it with NaN*. ONLY WORKS ON SERIES
- **replace**: calling a function for every value in a series. *If the functions does not change a value, it leaves it as it was*. ONLY WORKS ON SERIES
- **apply**: calling a function for every value in a series or for every series in a dataframe.
- **applymap**: calling a function for every value in a dataframe. ONLY WORKS ON DATAFRAMES

In [ ]:
ppl_df['email'].apply(len)

In [ ]:
ppl_df['email'].apply(lambda email: email.upper())

In [ ]:
ppl_df['email'] = ppl_df['email'].apply(lambda email: email.upper())
ppl_df

In [ ]:
# The above examples, should not be that surprising, but see what it does when called for the dataframe
# It will apply the function to each of the row (series object).
ppl_df.apply(len) # Same as len(ppl_df['email'])

In [ ]:
ppl_df.apply(len, axis='columns')

In [ ]:
# Return the lexicographically smallest element for every row
ppl_df.apply(pd.Series.min)

In [ ]:
# Get the length of each string in the dataframe.
ppl_df.applymap(len)

In [ ]:
# Lowercase every string in the dataframe.
ppl_df.applymap(str.lower)

In [ ]:
# Get the length of every first name.
ppl_df['first'].map(len)

> **Note**: If you don't use the assignment operator (`=`), the dataframe stays unchanged.

In [ ]:
ppl_df

In [ ]:
# Substitute certain values.
ppl_df['first'] = ppl_df['first'].map({
    'SimoFirst': 'firstsimo',
    'Jane': 'Jessy',
})
ppl_df

In [ ]:
ppl_df['last'] = ppl_df['last'].replace({
    'SimoLast': 'LastSimo',
    'Smith': 'Bobson',
})
ppl_df

In [ ]:
# Rename the column that holds the yearly converted salary to `SalaryUSD`.
df.head()

In [ ]:
df = df.rename(columns={
    'ConvertedCompYearly': 'SalaryUSD'
})
df.head()

In [ ]:
df['SalaryUSD']

In [ ]:
# Convert every 'Yes' to True and every 'No' value to False.
df['SOAccount'] = df['SOAccount'].map({'Yes': True, 'No': False})

In [ ]:
df.head()

## Add/Remove Rows and Columns From DataFrames

In [ ]:
ppl_df = pd.DataFrame(people)
ppl_df

In [ ]:
# Add a new column called `name` which is the concatenation of the `first` and `last` columns.
ppl_df['name'] = ppl_df['first'] + ' ' + ppl_df['last']  # ppl_df.name will not work, because Python will think that it already exists
ppl_df

In [ ]:
# Remove the `first` and `last` columns.
ppl_df = ppl_df.drop(['first', 'last'], axis=1)
ppl_df

In [ ]:
# Split the `name` column into two new columns.
ppl_df['name'].str.split()

In [ ]:
ppl_df['name'].str.split(expand=True)

In [ ]:
ppl_df[['first', 'last']] = ppl_df['name'].str.split(expand=True)
ppl_df

In [ ]:
# Add a row of data.
ppl_df.append({'first': 'Elon'}, ignore_index=True)

In [ ]:
# Note again that this actually returns a new dataframe and doesn't change the current one.
ppl_df

In [ ]:
# Concatenate dataframes.
people = {
  'first': ['Bob', 'John'],
  'last': ['Bobson', 'Johnson'],
  'email': ['bob@email.com', 'john@email.com']
}
ppl_df2 = pd.DataFrame(people)
# Note that the columns don't match in order and in number. Also, there are conflicting indices.
ppl_df2

In [ ]:
ppl_df = ppl_df.append(ppl_df2, ignore_index=True)
ppl_df

In [ ]:
# Remove rows by index.
ppl_df.drop(index=3)

In [ ]:
# Remove columns by a predicate

# Remove all rows that have last name `Doe`.
pred = (ppl_df['last'] == 'Doe')
ppl_df.drop(index=ppl_df[pred].index)

## Sorting Data

In [ ]:
# Add a new entry `Adam`.
ppl_df = ppl_df.append({
    'first': 'Adam',
    'last': 'Doe',
    'email': 'a@email.com',
}, ignore_index=True)
ppl_df

In [ ]:
# Drop the name column.
ppl_df = ppl_df.drop(['name'], axis=1)
ppl_df

In [ ]:
# Sort values by last name in ascending order.
ppl_df.sort_values(by='last')

In [ ]:
# Sort values by last name in descending order.
ppl_df.sort_values(by='last', ascending=False)

In [ ]:
# Sort by multiple columns.
ppl_df.sort_values(by=['last', 'first'], ascending=False)

In [ ]:
# Sort the last name in descending order but sort the first name in ascending order.
ppl_df.sort_values(by=['last', 'first'], ascending=[False, True])

In [ ]:
# Notice how the indices are not sorted. Let's ignore them when sorting the values.
ppl_df = ppl_df.sort_values(by=['last', 'first'], ascending=[False, True], ignore_index=True)
ppl_df

In [ ]:
# We can also sort series objects.
ppl_df['last'].sort_values()

In [ ]:
# Sort result by country name.
df = df.sort_values(by='Country')
df

In [ ]:
# Sort the countries in asceding order and the salaries in descending order.
df[['Country', 'SalaryUSD']]

In [ ]:
df = df.sort_values(by=['Country', 'SalaryUSD'], ascending=[True, False])
df[['Country', 'SalaryUSD']]

In [ ]:
# Get the 10 highest salaries from the survey.
df['SalaryUSD'].nlargest(10)

In [ ]:
# Get the entries with the 10 highest salaries.
df.nlargest(10, 'SalaryUSD')

In [ ]:
# Get the entries with the 10 lowest salaries.
df.nsmallest(10, 'SalaryUSD')

## Grouping and Aggregating - Analyzing and Exploring Your Data

In [ ]:
df = pd.read_csv(DATA_PATH)
df

In [ ]:
df = df.rename(columns={
    'ConvertedCompYearly': 'SalaryUSD'
})

> **Mean**: the average of a data set;

> **Mode**: the most common number in a data set;

> **Median**: the middle of the set of numbers.

> **Aggregation**: taking multiple values and returning a single result;

In [ ]:
# What is the most common salary?
df['SalaryUSD'].median()

In [ ]:
df.median(numeric_only=True)

In [ ]:
df.describe()

In [ ]:
# How many people gave information about their salary?
df['SalaryUSD'].count()

In [ ]:
df['SalaryUSD'].count() / df.shape[0]

In [ ]:
# What percentage of the respondents have a StackOverflow account?
df['SOAccount'].value_counts(normalize=True) # Preferred over: df['SOAccount'].value_counts() / df.shape[0]

In [ ]:
# What is the most popular OS for work?
schema_df.loc['OpSys', 'question']

In [ ]:
df['OpSys'].value_counts()

In [ ]:
# What do people do when they get stuck on a problem?
schema_df.loc['NEWStuck', 'question']

In [ ]:
df['NEWStuck'].value_counts().head(15)

### **Grouping**: splitting into groups, applying a function, combining results.

In [ ]:
# Let's get a breakdown for the most popular OS by country.

# Get the countries of the majority of respondents.
df['Country'].value_counts()

In [ ]:
country_group = df.groupby(['Country'])
country_group # Splitting into groups.

In [ ]:
country_group.get_group('United States of America')

In [ ]:
# We can simulate groupby. However, the difference is that groupby does this
# for every country.
cond = (df['Country'] == 'United States of America')
df[cond]

In [ ]:
df[cond]['OpSys'].value_counts(normalize=True)

In [ ]:
country_group['OpSys'].value_counts(normalize=True).head(50) # Appyling a function.

In [ ]:
country_group['OpSys'].value_counts(normalize=True).loc['Bulgaria']

In [ ]:
country_group['OpSys'].value_counts(normalize=True).loc['China']

In [ ]:
country_group['OpSys'].value_counts(normalize=True).loc['Russian Federation']

In [ ]:
# Get the median salaries
country_group['SalaryUSD'].median()

In [ ]:
country_group['SalaryUSD'].median().loc['Germany']

In [ ]:
country_group['SalaryUSD'].median().loc['Bulgaria']

In [ ]:
country_group['SalaryUSD'].median().loc['United States of America']

In [ ]:
# See the median and mean salaries
country_group['SalaryUSD'].agg(['median', 'mean'])

In [ ]:
# What percentage of people from each country know Python?

# (note: using the following approaches we'll ignore NaN values)

# using the filtering approach. Works, but we'll have to manually go through each country.
cond = (df['Country'] == 'India')
df[cond]['LanguageHaveWorkedWith'].str.contains('Python').value_counts(normalize=True).loc[True]

In [ ]:
# using the groupby approach
num_ppl_using_py_by_country = country_group['LanguageHaveWorkedWith'].apply(lambda x: x.str.contains('Python').sum() / x.count())
num_ppl_using_py_by_country

In [ ]:
num_ppl_using_py_by_country.loc['India']

In [ ]:
num_ppl_using_py_by_country.loc['Bulgaria']

In [ ]:
pd.DataFrame(num_ppl_using_py_by_country.sort_values(ascending=False))

## Cleaning Data - Casting Datatypes and Handling Missing Values

In [ ]:
people = {
    'first': ['SimoFirst', 'Jane', 'John', 'Chris', np.nan, None, 'NA'],
    'last': ['SimoLast', 'Doe', 'Doe', 'Sirhc', np.nan, np.nan, 'Missing'],
    'email': ['s.e.hristov99@gmail.com', 'JaneDoe@gmail.com', 'JohnDoe@gmail.com', None, np.nan, 'Anon@email.com', 'NA'],
    'age': ['33', '55', '63', '36', None, None, 'Missing'],
}

> **Approach 1**: just remove the rows that have at least 1 missing value.

In [ ]:
ppl_df = pd.DataFrame(people)
ppl_df

In [ ]:
ppl_df.dropna()
# by default it is actually ppl_df.dropna(axis='index', how='any')
# index -> drops rows
# any -> if any columns has a missing values. Note: sometimes it might be ok,
# if the person does not have an `age`.

In [ ]:
# remove rows if all columns have missing values
ppl_df.dropna(how='all')

In [ ]:
# remove columns if all rows have missing values
ppl_df.dropna(axis=1, how='all')  # Same as ppl_df.dropna(axis='columns', how='all')

In [ ]:
# remove columns if any row has a missing value
ppl_df.dropna(axis=1, how='any')

In [ ]:
# remove entries with no emails
ppl_df.dropna(axis=0, subset=['email'])

In [ ]:
# remove entries if they don't have an email and last name
ppl_df.dropna(axis=0, how='all', subset=['email', 'last'])

> **Custom missing values**: substitue them with `np.nan` by using the `replace` method.

In [ ]:
ppl_df = ppl_df.replace({
    'Missing': np.nan,
    'NA': np.nan,
})

In [ ]:
ppl_df.dropna()

> **Approach 2**: full them in (impute them) using statistics about the column.

In [ ]:
ppl_df = pd.DataFrame(people).replace({
    'Missing': np.nan,
    'NA': np.nan,
})
ppl_df

In [ ]:
# for numerical values: fill in with the mean / mode / the mean value of the KNN
# for categorical values: create a new category, for ex. 'missing'
ppl_df.fillna('MISSING')

**Casting**

In [ ]:
ppl_df.fillna(0)

In [ ]:
ppl_df.info()

In [ ]:
# because the `age` column is of type `object` we cannot get its mean
# ppl_df['age'].mean()

In [ ]:
# the NaN value is actually a float 'under the hood'
type(np.nan)

In [ ]:
# so we cannot cast to integers directly (i.e. without substitution or removal)
# ppl_df['age'] = ppl_df['age'].astype(np.int32)

In [ ]:
# because it is a numerical variable, let's substitute is with the mean
ppl_df['age'] = ppl_df['age'].astype(np.float32)
ppl_df['age']

In [ ]:
ppl_df['age'] = ppl_df['age'].fillna(ppl_df['age'].mean())
ppl_df

In [ ]:
ppl_df.info()

In [ ]:
ppl_df['age'].mean()

In [ ]:
# What is the average number of years of coding experience?
df['YearsCode'].head(10)

In [ ]:
# Note that the column has a dtype `object`!
# That means that we can neither take the mean:
# df['YearsCode'].mean()

In [ ]:
# nor can we cast to float
# df['YearsCode'].astype(np.float)

In [ ]:
# however, the good thing about this error is that it shows us
# what the problem actually is - we have a string as an entry

# in order to deal with this problem, we'll replace
# all the strings with a number
df['YearsCode'].unique()

In [ ]:
df['YearsCode'] = df['YearsCode'].replace({
    'Less than 1 year': 0,
    'More than 50 years': 51,
})
df['YearsCode'].unique()

In [ ]:
# now we can convert to float
df['YearsCode'] = df['YearsCode'].astype(np.float32)
df['YearsCode']

In [ ]:
df['YearsCode'].mean()

In [ ]:
df['YearsCode'].mode()[0]

In [ ]:
df['YearsCode'].median()

## Reading/Writing Data to Different Sources - Excel, JSON, SQL, Etc

We'll pretend that we only need the results for Bulgaria. Let's save them as a `csv` to show how it's done.

In [ ]:
# We say that the table already has a column that can act as an index.
# Let's use it.

df = pd.read_csv(DATA_PATH, index_col='ResponseId')
df

In [ ]:
# Get the results from bulgarian developers.
cond = (df['Country'] == 'Bulgaria')
df[cond]

In [ ]:
# Export this dataframe to a new csv file.
df.to_csv('results_for_bulgaria.csv')

# For Home

Choose a dataset from a previous year and analyse it using Pandas!