<a href="https://colab.research.google.com/github/SimeonHristov99/ML_21-22/blob/main/Week_01_Hello%2C_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Hello, Python!

## Introduction

Notebooks are composed of editable blocks (called "cells") of text and code.

I am a text cell :). Double click to edit me.

In [23]:
# I am a code cell :). Click one time to edit me.

Run a cell: click on the cell and press `Ctrl + Enter`. If you press `Shift + Enter`, you'll execute the current cell and go to the next cell.

Shortcuts:

- `Ctrl + Shift + Space`: See docstring.
- `Ctrl + M + B`: New code cell.
- `Ctrl + M + M`: Turn code cell into markdown cell.
- `Ctrl + M + D`: Delete cell.

Notes:

- Basic Python operations

| Operator | Name           | Description                                    |
| -------- | -------------- | ---------------------------------------------- |
| a + b    | Addition       | Sum of a and b                                 |
| a - b    | Subtraction    | Difference of a and b                          |
| a * b    | Multiplication | Product of a and b                             |
| a / b    | True division  | Quotient of a and b                            |
| a // b   | Floor division | Quotient of a and b, removing fractional parts |
| a % b    | Modulus        | Integer remainder after division of a by b     |
| a ** b   | Exponentiation | a raised to the power of b                     |
| -a       | Negation       | The negative of a                              |

- `type(19.95)`: Check the type of a variable or a constant.
- `abs(-32)` --> 32
- `float(10)` --> 10.0
- `int(3.33)` --> 3
- `str(3.33)` --> '3.33'

## Basics

In [24]:
# create a variable called color with an appropriate value and print it

In [25]:
pi = 3.14159 # approximate
diameter = 3

# Create a variable called 'radius' equal to half the diameter


# Create a variable called 'area', using the formula for the area of a circle: pi times the radius squared

In [26]:
a = [1, 2, 3]
b = [3, 2, 1]

# Swap the values to which a and b refer.


# Reverse a

In [27]:
# Add parentheses and operators to the following expression so that it evaluates to 1.
# 5 3 2

In [28]:
# In case you need a documentation for a particular function
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

`help()` displays two things:

  1. the header of that function `round(number, ndigits=None)`. In this case, this tells us that `round()` takes an argument we can describe as number. Additionally, we can optionally give a separate argument which could be described as `ndigits`.
  2. A brief description of what the function does.

> **Common pitfall**: when you're looking up a function, remember to pass in the name of the function itself, and not the result of calling that function.

**Functions and Docstrings**

In [29]:
def least_difference(a, b, c):
  """Return the smallest difference between any two numbers
  among a, b and c.
  
  >>> least_difference(1, 5, -5)
  4
  """
  pass

In [30]:
help(least_difference)

Help on function least_difference in module __main__:

least_difference(a, b, c)
    Return the smallest difference between any two numbers
    among a, b and c.

    >>> least_difference(1, 5, -5)
    4

**Keyword (default) arguments**

In [31]:
def greet(who="Colin"):
    print(f'Hello, {who}')

**Lambda functions**

**Combining Boolean Values**

You can combine boolean values using the standard concepts of "and", "or", and "not". In fact, the words to do this are: and, or, and not.

With these, we can make our can_run_for_president function more accurate.

In [32]:
def can_run_for_president(age, is_natural_born_citizen):
  """Can someone of the given age and citizenship status run for president in the US?"""
  # The US Constitution says you must be a natural born citizen *and* at least 35 years old
  return is_natural_born_citizen and age >= 35

print(can_run_for_president(19, True))
print(can_run_for_president(55, False))
print(can_run_for_president(55, True))

False
False
True

**Conditionals**

Booleans are most useful when combined with conditional statements, using the keywords `if`, `elif`, and `else`.

In [33]:
def inspect(x):
  if x == 0:
    print(x, "is zero")
  elif x > 0:
    print(x, "is positive")
  elif x < 0:
    print(x, "is negative")
  else:
    print(x, "is unlike anything I've ever seen...")

inspect(0)
inspect(-15)

0 is zero
-15 is negative

In [34]:
def f(x):
  pass

f(1)
f(0)

# How to get the following output?
# Only printed when x is positive; x = 1
# Also only printed when x is positive; x = 1
# Always printed, regardless of x's value; x = 1
# Always printed, regardless of x's value; x = 0

**Boolean conversion**

We've seen `int()`, which turns things into `int`s, and `float()`, which turns things into `float`s. Python also has a `bool()` function which turns things into `bool`s.

In [35]:
print(bool(1)) # all numbers are treated as true, except 0
print(bool(0))
print(bool("asf")) # all strings are treated as true, except the empty string ""
print(bool(""))

True
False
True
False

> **Tip**: Generally empty sequences (strings, lists, tuples, dictionaries) are `false`y and the rest are `truth`y.

## Lists

In [36]:
# A list can contain a mix of different types of variables
my_favourite_things = [32, 'raindrops on roses', help]
my_favourite_things

[32,
 'raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

In [37]:
my_favourite_things[1]

'raindrops on roses'

In [38]:
my_favourite_things[-1]

Type help() for interactive help, or help(object) for help about object.

In [39]:
my_favourite_things[-2]

'raindrops on roses'

In [40]:
my_favourite_things[1:]

['raindrops on roses',
 Type help() for interactive help, or help(object) for help about object.]

In [41]:
my_favourite_things[0:1]

[32]

In [42]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
planets[3] = 'Malacandra'
planets

['Mercury',
 'Venus',
 'Earth',
 'Malacandra',
 'Jupiter',
 'Saturn',
 'Uranus',
 'Neptune']

**Useful list functions**

Check out all of them [here](https://docs.python.org/3/tutorial/datastructures.html).

In [43]:
# How many planets are there?

In [44]:
# The planets sorted in alphabetical order

In [45]:
primes = [2, 3, 5, 7]

# Find the sum of the prime numbers

In [46]:
# Find the largest number

In [47]:
# Add 'Pluto' to the list of planets.

In [48]:
# Remove 'Pluto' from the list of planets.

In [49]:
# Get the index of `Earth`

In [50]:
# Is `Earth` a planet?

In [51]:
# Is `Pluto` a planet?

## Tuples

In [52]:
# Create a tuple from the numbers 1, 2 and 3

## Loops

In [53]:
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
# print all on 1 line

In [54]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'
# print all the uppercase letters in s again on 1 line

**range()**

`range()` is a function that returns a sequence of numbers. It turns out to be very useful for writing loops.

For example, if we want to repeat some action 5 times.

In [55]:
for i in range(5):
  print(f'Doing important work. i={i}')

Doing important work. i=0
Doing important work. i=1
Doing important work. i=2
Doing important work. i=3
Doing important work. i=4

In [56]:
# How to get the following output?
# The 0th planet is Mercury
# The 1th planet is Venus
# The 2th planet is Earth
# The 3th planet is Mars
# The 4th planet is Jupiter
# The 5th planet is Saturn
# The 6th planet is Uranus
# The 7th planet is Neptune

**List comprehension**

In [57]:
s = 'steganograpHy is the practicE of conceaLing a file, message, image, or video within another fiLe, message, image, Or video.'

In [58]:
# Resolve using LC

In [59]:
# Resolve using generators

In [60]:
# Resolve using higher order functions and partial function application

In [61]:
# Get the squares of the numbers [0 .. 9] using a for-loop

In [62]:
# Get the squares of the numbers [0 .. 9] using LC

In [63]:
# Get the names of all planets with less than 6 characters using LC

In [64]:
# How to get the following ouput?
# ['VENUS!', 'EARTH!', 'MARS!']

In [65]:
# The SQL analogy

In [66]:
# Use for-loop
def count_negatives(nums):
    """Return the number of negative numbers in the given list.
    
    >>> count_negatives([5, -1, -2, 0, 3])
    2
    """
    pass

In [67]:
# Use LC
def count_negatives(nums):
  pass

In [68]:
# Use higher order functions
def count_negatives(nums):
  pass

In [69]:
# Use boolean implicit casting
def count_negatives(nums):
  pass

## Strings

In [70]:
# can be defined using either single or double quotation
x = 'Pluto is a planet'
y = "Pluto is a planet"
x == y

True

In [71]:
# Double quotes are convenient if your string contains a single quote character (e.g. representing an apostrophe).
# Similarly, it's easy to create a string that contains double-quotes if you wrap it in single quotes

print("Pluto's a planet!")
print('My dog is named "Pluto"')

Pluto's a planet!
My dog is named "Pluto"

In [72]:
# If we try to put a single quote character inside a single-quoted string, Python gets confused
# 'Pluto's a planet!'

Python's triple quote syntax for strings lets us include newlines
literally (i.e. by just hitting `Enter` on our keyboard, rather than using
the special `\n` sequence). We've already seen this in the docstrings we
use to document our functions, but we can use them anywhere
we want to define a string.

In [73]:
hello = "hello\nworld"
print(hello)

triplequoted_hello = """hello
world"""
print(triplequoted_hello)
triplequoted_hello == hello

hello
world
hello
world

True

In [74]:
# Indexing
planet = 'Pluto'
planet[0]

'P'

In [75]:
# Slicing
planet[-3:]

'uto'

In [76]:
# How long is this string?

In [77]:
# How to get the following output?
# ['P!', 'l!', 'u!', 't!', 'o!']

> **Common pitfall**: Strings differ from lists is that they are immutable. We can't modify them.

In [78]:
# planet[0] = 'B'
# planet.append doesn't work either

**String methods**

Like `list`, the type `str` has lots of very useful methods. See all of them [here](https://docs.python.org/3/library/stdtypes.html#string-methods).

In [79]:
# ALL CAPS
claim = "Pluto is a planet!"

In [80]:
# all lowercase

In [81]:
# Searching for the first index of a substring
claim.index('plan')

11

In [82]:
# Check if string starts with a substring

In [83]:
# Check if string ends with a substring

Going between strings and lists: `.split()` and `.join()`.

`str.split()` turns a string into a list of smaller strings, breaking on whitespace by default. This is super useful for taking you from one big string to a list of words.

In [84]:
words = claim.split()
words

['Pluto', 'is', 'a', 'planet!']

In [85]:
# Occasionally you'll want to split on something other than whitespace:
datestr = '1956-01-31'
year, month, day = datestr.split('-')
year, month, day

('1956', '01', '31')

`str.join()` takes us in the other direction, sewing a list of strings up into one long string, using the string it was called on as a separator.

In [86]:
'/'.join([month, day, year])

'01/31/1956'

## Dictionaries

A data structure for mapping keys to values.

In [87]:
numbers = {'one':1, 'two':2, 'three':3}
numbers

{'one': 1, 'three': 3, 'two': 2}

In this case 'one', 'two', and 'three' are the keys, and 1, 2 and 3 are their corresponding values.

Values are accessed via square bracket syntax similar to indexing into lists and strings.

In [88]:
numbers.keys(), numbers.values()

(dict_keys(['one', 'two', 'three']), dict_values([1, 2, 3]))

In [89]:
numbers['one']

1

In [90]:
# We can use the same syntax to add another key, value pair
numbers['eleven'] = 11
numbers

{'eleven': 11, 'one': 1, 'three': 3, 'two': 2}

In [91]:
# Or to change the value associated with an existing key
numbers['one'] = 'Pluto'
numbers

{'eleven': 11, 'one': 'Pluto', 'three': 3, 'two': 2}

In [92]:
# Dict comprehensions!
planets = ['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']

# Map every name to its first letter

In [93]:
# Check if a value is in the dictionary

In [94]:
# A for loop over a dictionary will loop over its keys
for k in numbers:
  print(f'{k} => {numbers[k]}')

one => Pluto
two => 2
three => 3
eleven => 11

In [95]:
# How can we loop over the dictionary so as to get both the key and value at each step?

In [96]:
# Get all the initials, sort them alphabetically, and put them in a space-separated string.